body {
  margin: unset;
}

.cube-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  grid-template-columns: 140px 140px 140px 140px 140px 140px;
}

.facelet {
  /* display: inline-block; */
  border: 20px solid;
  transition: margin 0.25s;
}

.r-face {
  background-color: red;
}
.l-face {
  background-color: orange;
}
.f-face {
  background-color: green;
}
.b-face {
  background-color: blue;
}
.u-face {
  background-color: white;
}
.d-face {
  background-color: yellow;
}
