.cube-container {
  height: 600px;
  width: 600px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

.facelet {
  width: 80px;
  height: 80px;
  border: 10px solid;
  transition: margin 0.25s;
  margin-left: -100px;
}

.r-face {
  background-color: red;
}
.l-face {
  background-color: orange;
}
.f-face {
  background-color: green;
}
.b-face {
  background-color: blue;
}
.u-face {
  background-color: white;
}
.d-face {
  background-color: yellow;
}
