.cube-container {
  height: 720px;
  width: 720px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px;
  position: absolute;
  left: 50%;
  margin-left: -360px;
}

.cube-mask {
  height: 540px;
  width: 540px;
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  left: 50%;
  margin-left: -360px;
  border: 90px solid white;
  text-align: center;
}

.cube-mask div {
  font-size: 40px;
  font-weight: bold;
  color: black;
  transition: all 1s;
}

#title,
.title {
  cursor: default;
  grid-row: 2;
  grid-column: 1;
}
#name,
.name {
  cursor: default;
  grid-row: 3;
  grid-column: 3;
}
#about,
.about {
  cursor: pointer;
  grid-row: 4;
  grid-column: 1;
}
#blog,
.blog {
  cursor: pointer;
  grid-row: 5;
  grid-column: 3;
}
#photos,
.photos {
  cursor: pointer;
  grid-row: 8;
  grid-column: 1;
}
#about:hover,
#blog:hover,
#photos:hover {
  color: white;
  transform: translate(5px, 5px);
}

.facelet {
  width: 70px;
  height: 70px;
  border: 10px solid;
  /* position: absolute; */
  transition: all 0.5s;
}

.r-face {
  background-color: red;
}
.l-face {
  background-color: orange;
}
.f-face {
  background-color: green;
}
.b-face {
  background-color: blue;
}
.u-face {
  background-color: white;
}
.d-face {
  background-color: yellow;
}
